<div class="">
  <div class="about-me">
    <div class="presentation">
    <h1>About me</h1>
    <p>I am a dedicated Fullstack Developer with 4 years of professional experience specializing in Java and Angular
      technologies. Throughout my career, I have successfully contributed to both from-scratch development and migration
      projects across a variety of industries, including finance, transportation, and real estate.<br/>
      Having worked with large software companies and delivering high-quality solutions for complex systems, I have
      developed a deep understanding of the full development lifecycle. My role in these organizations involved
      collaborating with cross-functional teams, leading the development of scalable web applications, and ensuring
      seamless integration between front-end and back-end systems.<br/>
      In addition to my corporate experience, I have also worked as a freelancer, where I have independently developed
      and delivered web applications for clients. This experience has strengthened my technical expertise and allowed me
      to hone my skills in problem-solving, adaptability, and project management.<br/>
      Whether working with established frameworks or building innovative solutions from scratch, I take pride in
      delivering high-performance, secure, and scalable web applications tailored to clients' needs.<br/>
      I am always eager to take on new challenges and contribute to impactful projects in dynamic environments.</p>
    </div>
    <div class="separator"></div> <!-- Séparateur visuel -->
    <div class="skills-experience">
    <nav>
      <ul>
        <li><a (click)="selectTab('skills')" [class.active]="selectedTab === 'skills'">Skills</a></li>
        <li><a (click)="selectTab('experience')" [class.active]="selectedTab === 'experience'">Experience</a></li>
        <li><a (click)="selectTab('education')" [class.active]="selectedTab === 'education'">Education</a></li>
      </ul>
    </nav>
    @if (selectedTab === 'skills') {
      <div class="content-section">
        <ul class="skill-list">

          <li>
            <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="logo-html5"></ion-icon>
              </div>

              <h2 class="card-title">HTML</h2>

            </div>
          </li>

          <li>
            <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

              <div class="card-media">
                <ion-icon name="logo-css3"></ion-icon>
              </div>

              <h2 class="card-title">CSS</h2>

            </div>
          </li>

          <li>
            <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

              <div class="card-media">
                <ion-icon src="assets/images/java.svg"></ion-icon>
              </div>

              <h2 class="card-title">JAVA</h2>

            </div>
          </li>

          <li>
            <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

              <div class="card-media">
                <ion-icon name="logo-angular"></ion-icon>
              </div>

              <h2 class="card-title">Angular</h2>

            </div>
          </li>

          <li>
            <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

              <div class="card-media">
                <ion-icon src="assets/images/spring-3.svg"></ion-icon>
              </div>

              <h2 class="card-title">SPRING</h2>

            </div>
          </li>

          <li>
            <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

              <div class="card-media">
                <ion-icon name="logo-android"></ion-icon>
              </div>

              <h2 class="card-title">App Dev</h2>

            </div>
          </li>

          <li>
            <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

              <div class="card-media">
                <ion-icon src="assets/images/sqls.svg"></ion-icon>
              </div>

              <h2 class="card-title">SQL</h2>

            </div>
          </li>
          <li>
            <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

              <div class="card-media">
                <ion-icon src="assets/images/javascript-1.svg"></ion-icon>
              </div>

              <h2 class="card-title">JavaScript</h2>

            </div>
          </li>

        </ul>
      </div>
    } @else if (selectedTab === 'experience') {
      <div class="content-section">
        <ul>
          <li>
            <div class="discription" style="background-color: hsl(30, 20%, 95%)">
              <ul>
                <li><span>2023 - Current</span>Freelancer.</li>
                <li><span>2021 - 2023</span>Front-End Developer at Eurafric Ltd.</li>
                <li><span>2019 - 2021</span>Fullstack Developer Java/Angular at Capgemini.</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    } @else if (selectedTab === 'education') {
      <div class="content-section">
        <ul>
          <div class="discription" style="background-color: hsl(30, 20%, 95%)">
            <ul>
              <li><span>2021</span>Certification Scrum.</li>
              <li><span>2016 - 2019</span>State-Certified Engineer in Computer Engineering at AIAC..</li>
            </ul>
          </div>
        </ul>
      </div>
    }
    </div>
  </div>
</div>

